@charset "utf-8";

@import "normalize";
@import "variables";


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $foreground-color;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
hr,
pre,
code,
footer,
iframe,
blockquote {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

pre,
code {
  word-wrap: normal;
  overflow-x: auto;
}


@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

$sidebar-width: 300px;

@import "navigation";
@import "content";
@import "header";
